* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header {
    display: flex;
    margin: 15px 25px 5px 25px;
    justify-content: space-around;
    align-items: center;

}

/* logo */
header img {
    height: 55px;
}

/* to make the nav items is one line */
nav>ul {
    display: flex;
    list-style: none;
}

/* for the items of the nav */
nav a {
    text-decoration: none;
    color: #000000b3;
    margin-left: 30px;
    font-size: 14px;
    transition: 0.3s ease;
}

/* to make the nav tern to green when you touch it */
nav a:hover {
    color: #7bba52;
    ;
}


/* section 1 */
.sec-1 {
    background-image: url(../images/slider.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 43vh;
    color: white;
    padding: 25px;
}

/* the big sintne */
.sec-1>h2 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 100;
    text-align: center;
    margin-bottom: 15px;
    font-family: system-ui;
}

/* small paragraph */
.sec-1>p {
    font-size: 16px;
    text-align: center;
}


/* section 2 */
.sec-2 {
    background-color: #eee;
    height: 62vh;
    padding: 30px;
}

/* to make the logos in one line */
.icons {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* the icons */
.icons>img {
    height: 15px;
    margin: 10px 15px;
    padding: 0px;
    filter: grayscale(1);
    transition: 0.3s ease;
}

/* make the icons with the original colors when you touch it */
.icons>img:hover {
    filter: none;
    cursor: pointer;
}

.icons>.arrow-1 {
    height: 10px;
    transform: rotate(90deg);
}

.icons>.arrow-2 {
    height: 10px;
    transform: rotate(270deg);
}

.content {
    display: flex;
    width: 60%;
    margin: auto;
    background: white;
    padding: 4px;
}

div .test {
    height: 17em;
}

.content .main {
    padding: 20px;
    border: 1px solid #00000061;
}

.data>img {
    height: 20px;
}

.data h4 {
    font-size: 16px;
    font-weight: 100;
    font-family: system-ui;
    margin: 5px 0;
}

.data>p {
    font-size: 12px;
    margin: 8px 0;
    color: #2e2e2e;

}

.sec-3>div {
    background: url(../images/baner.jpg) no-repeat;
    background-size: cover;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;

}

.sec-3 .arrow {
    height: 20px;
}

.sec-3 .logo {
    height: 70px;
    margin: 0 10px;
    border-right: 1px solid white;
    padding-right: 10px;
}

.sec-3 p {
    font-size: 11px;
    margin: 0 15px;
}

.sec-3 .bintray {
    translate: 0px 20px;
    font-size: 16px;
}

.sec-4 h3 {
    color: #6cab43;
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    font-family: system-ui;
    font-weight: 400;
}

.sec-4 .ssh-1 {
    width: 75%;
    margin: auto;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.ssh-1 .big-card {
    width: 250px;
    height: 360px;
    position: relative;
    text-align: center;
    border: 1px solid #6dac44;
    border-radius: 5px;
    padding: 30px;
}

.big-card img {
    background: #6dac44;
    padding: 15px;
    height: 85px;
    border-radius: 30%;
    position: absolute;
    top: -60px;
    right: 36%;
}

.big-card h5 {
    font-size: 20px;
    color: #8bc34a;
    font-family: system-ui;
    font-weight: 400;
}

.big-card pre {
    font-size: 14px;
    margin: 14px 0;
    color: #8bc34a;
}

.big-card .p-1 {
    font-size: 12px;
    line-height: 20px;
}

.big-card .p-2 {
    font-size: 11px;
}

span {
    color: #8bc34a;
}

.card {
    height: 200px;
    width: 250px;
    text-align: center;
    padding: 20px;
}

.card:hover h6 {
    color: #8bc34a;
}

.card img {
    padding: 15px;
    border: 1px solid #8bc34a;
    border-radius: 30%;
}

.card h6 {
    font-size: 18px;
    font-family: system-ui;
    font-weight: 400;
    margin-bottom: 10px;
    color: #666666;
    transition: 0.2s ease;

}

.card p {
    font-size: 11px;
}

.intersted {
    height: 12vh;
    background: #989898;
    display: flex;
    align-items: center;
}

.intersted p {
    color: white;
    font-size: 20px;
    padding-left: 120px;
    margin-right: 15px;
}

.intersted input {
    height: 35px;
    border: none;
    border-radius: 4px;
    width: 160px;
    background: #8bc34a;
    color: white;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.intersted input:hover {
    background-color: #6dac44;
    letter-spacing: 0px;
}

.sec-5 {
    width: 70%;
    margin: auto;
}

.sec-5 h4 {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 400;
}

.sec-5>div {
    display: flex;
}

.sec-5 .form {
    width: 352px;
}

.form form {
    display: grid;
}

.form input {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #b5b5b5
}

.sec-5 .info {
    width: 352px;
}

.sec-5>img {
    width: 710px;
    margin-bottom: 30px;
}

.form button {
    border: none;
    width: 140px;
    padding: 10px;
    font-size: 17px;
    margin: 10px 0;
    background: #8bc34a;
    color: white;
    transition: 0.2s ease;

}

.form button:hover {
    cursor: pointer;
    letter-spacing: 1px;
    background: #5c8330;
}

.info .socil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.info {
    padding-left: 40px;
}

.socil img {
    height: 40px;
}

.info p {
    margin-bottom: 15px;
    color: #f0917d;
}